

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f4f6;
}

.container {
    background: white;
    
}

button {
    background: none;
    border: none;
    font-size: 18px;
    padding: 10px 0;
    cursor: pointer;
    color: #555;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    color: #1A73E8;
}

button.active {
    color: #1A73E8;
    font-weight: bold;
}

/* Blue underline */
.underline {
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #1A73E8;
    border-radius: 10px;
    transition: 0.25s ease;
}

.table-container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

thead {
    background: #f6f7f9;
}

thead th {
    text-align: left;
    padding: 14px 12px;
    font-weight: bold;
    color: #666;
    font-size: 13px;
}

tbody td {
    padding: 14px 12px;
    border-bottom: 1px solid #e6e6e6;
}

tbody tr:hover {
    background: #fafafa;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.table-footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 5px;
}

.pagination button:hover {
    background: #f0f0f0;
}

.pagination .active {
    background: #1A73E8;
    border-color: #1A73E8;
    color: white;
}