* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Center everything */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f4f6;
}

/* Card box */
.login-box {
    background: white;
    padding: 32px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
}

/* Error Message */
.error-message {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: -32px;
    margin-left: -32px;
    margin-right: -32px;
    font-size: 14px;
    border-radius: 12px 12px 0 0;
}

.error-message strong {
    font-weight: 600;
}

/* Title */
.login-box h2 {
    margin-bottom: 0px;
    font-size: 26px;
}

.login-box p {
    margin-bottom: 20px;
}

/* Input groups */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.label {
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: none;
    transition: border 0.2s;
}

input:focus {
    border-color: #1A73E8;
}

/* Login button */
.login-btn {
    background-color: #1A73E8;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.2s ease, transform 0.1s ease;
}

.login-btn:hover {
    background-color: #1669C1;
}

.login-btn:active {
    transform: scale(0.97);
}

/* Text */
.register-text {
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    color: #1A73E8;
    text-decoration: none;
}