<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/loginStyles.css">
    </head>
    <body>
        <div class="container">
        <div class="login-box">
            <img src="">
            <h2>Welcome Back!</h2>
            <p>Please enter your credentials to log in</p>
            <p th:if="${status}==failed">Please check username or password</p>

            <form action = "login" method="post">
                <div class="input-group">
                    <label>Email</label>
                    <input type="text" name="email" required>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password" required>
                </div>

                <input type="submit" class="login-btn"></input>
            </form>
        </div>
    </body>
</html>