<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="../static/css/loginStyles.css">
    </head>
    <body>
        <div class="container">
            <div class="login-box">
                <img src="">
                <h2>BimbinganKu</h2>
                <p>Please enter your credentials to log in</p>

                <form>
                    <div class="input-group">
                        <label>Username</label>
                        <input type="text" required>
                    </div>

                    <div class="input-group">
                        <label>Password</label>
                        <input type="password" required>
                    </div>
        
                    <button class="login-btn">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>